body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../assets/background.jpg') no-repeat center center/cover;
  overflow: hidden;
  height: 100vh; /* Ensure the body takes full viewport height */
  width: 100vw; /* Ensure the body takes full viewport width */
}

/* Make movie image responsive for all screen sizes */
#movie-image {
  position: absolute;
  width:1080px;
  height:1920px;
  left:-1080px;
  animation: move 25s linear infinite; /* Adjust the animation speed */
}

#control-button {
  background-color: rgba(233, 179, 158, 0.87);
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 3vw; /* Adjust button size based on viewport width */
  font-weight: bolder;
  cursor: pointer;
}

/* Keyframe move animation */
@keyframes move {
  0% {
    left: -1060px; /* Start fully off-screen */
  }
  100% {
    left: 100%; /* End fully off-screen on the right */
  }
}

/* Modal styles */
#popup {
  position: fixed;
  width: 80%; /* Make the width responsive */
  max-width: 1000px; /* Ensure it doesn't grow too large */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 30px;
  border-radius: 10px;
  display: none;
  text-align: center;
  overflow-y: auto;
  max-height: 90%; /* Ensure it doesn't overflow the viewport */
}

/* Main message in the popup */
.popup-main-message {
  font-size: 2.5em;  /* Larger font size for the main message */
  font-weight: bold;
}

/* Success message color */
.popup-main-message.success {
  color: green; /* Green color for success */
}

/* Fail message color */
.popup-main-message.fail {
  color: red; /* Red color for fail */
}

/* User data in the popup */
.popup-user-data {
  font-size: 1.5em;  /* Increase font size for readability */
  font-weight: normal;
  margin-top: 5px;
}

/* Close button styles */
#popup button {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#popup button:hover {
  background-color: #45a049;
}

/* Media query for smaller screens (portrait mode) */
@media (max-width: 1080px) and (max-height: 1920px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Adjust button size for smaller screens */
  #control-button {
    font-size: 5vw;
    bottom: 10px;
  }

  /* Adjust movie image size */
  #movie-image {
    position: absolute;
    width:1080px;
    height:1920px;
    left:-1080px;
  }

  /* Popup width adjustments for smaller screens */
  #popup {
    width: 90%;
    padding: 15px;
  }

  .popup-main-message {
    font-size: 2em;
  }

  .popup-user-data {
    font-size: 1.2em;
  }
}
